<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="form">
      <form method="POST">
        {{ form.hidden_tag() }} {{ form.search.label }} {{ form.search() }} {{ form.submit() }}
      </form>
    </div>
    <div>
      {% if performed_search %}
        {% if results %}
          <h1>Search Results</h1>
          <ol>
            {% for result in results %}
              <li>
                <a href="{{ result }}" target="_blank">{{ result }}</a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <h1>No results found.</h1>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
