<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="form">
      <form method="POST">
        {{ form.hidden_tag() }} {{ form.search.label }} {{ form.search() }} {{
        form.submit() }}
      </form>
    </div>
    <div>
      <h1>Search Results</h1>
      {% if results %}
      <ol>
        {% for result in results %}
        <li>
          <a href="{{result}}"  target="_blank"">{{result}}</a>
          
        </li>
        {% endfor %}
      </ol>
      {% else %}
      <p>No results found.</p>
      {% endif %}
    </div>
  </body>
</html>
